<div class="container">
    <div class="row">
        <div class="col mb-5" *ngFor="let personaje of personajes" >
            <div class="characters-container">
                <img class="card-img-top" src={{personaje.image}}>
                <h5>{{personaje.name}}</h5>
                <h6>Status: {{personaje.status}}</h6>
                <h6>Genero: {{personaje.gender}}</h6>
            </div>
        </div>
    </div>
</div>