.card-img-top{
    margin: 10px 10px;
    /*border: 4px solid rgb(230, 130, 16);*/
    border-radius:10px;
    padding: px;
    width: 95px;
}
.card-img-top:hover {
    box-shadow: 0 8px 8px 0 rgb(38, 240, 230), 0 6px 20px 0 rgb(250, 247, 247, 0.89);
}


.descripcion{
    color:black;
    text-align: center;
    font-size:1px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 5px rgb(255, 255, 255, 0.932);
    padding:1px;
}


.characters-container {
    display: flex;
    background-color: #4fb4a3;
    margin: 20px 10px;
    border-radius: 10px;
    align-items: flex-start;
}

.characters-container h6 {
    margin-top: 0px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
}

.characters-container h5{
    color:aliceblue;
    font-size:22px;
    font-family:'Times New Roman', Times, serif;
}

.conatiner-uno{
    background-color: rgb(196, 156, 156);
    width: auto;
    height: 1500px;
}