/*.font2{
    font-family:monospace;
    text-align: center;
    text-anchor: 15px;
    font-size:30px;
    color: rgb(105, 210, 241);
}*/

.contenedor2{
    margin: 60px 90px;
    background-color:rgb(209, 152, 98, 0.973);
}


.contenedor-tres{
    width: 150px;
    height:100px;
    text-align: center;
    margin: 1px auto;
    position:static;
}

.titulo{
    background-color: aqua;
    text-align: center;
    font-family: cursive;
    margin-top: 60px;
    font-size: 40px ;
}

.h1{
    background-color: white;
}

